/* Scrollbar */
.results ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.results ::-webkit-scrollbar-track {
  background: #9ac48c;
  border-radius: 20px;
}
.results  ::-webkit-scrollbar-thumb {
  background: #00671a85;
  border-radius: 20px;
}
.results ::-webkit-scrollbar-thumb:hover {
  background: #00290a;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  height: 100%;
  width: 100%;
}
.content {
  width: 100%;
  min-height: 100%;
  padding: 0 5% 40px;
}
.header-title {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}
.form {
  margin-bottom: 20px;
}
.extra-info {
  display: none;
}
.extra-info.active {
  display: flex;
}
.extra-info .playlist-name,
.extra-info .video-num {
  margin-right: 20px;
}

.results-wrapper {
  position: relative;
  width: 100%;
}
.results {
  display:flex;
  flex-direction: column;
}

.attribute-titles,
.single-result {
  display: grid;
  /* grid-auto-columns: 1fr 3fr 3fr 2fr 2fr 2fr 2fr; */
  grid-auto-columns: 3fr 3fr 3fr 2fr 2fr 2fr 2fr;
  grid-auto-flow: column;
  gap: 5px;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.attribute-titles {
  position: sticky;
  top: 0;
  height: 63px;
  background: #fff;
  user-select: none;
}

.single-result.deleted,
.single-result.private {
  background: #9797976e;
}

.attribute.video-id .name {
  display: flex;
  align-items: center;
}
.attribute.video-id svg{
  width: 16px;
  height: 16px;
  margin-left: 2px;
}

.attribute {
  display: flex;
  align-items: center;
  margin: 20px auto 20px 0;
  font-size: 16px;
  font-weight: bold;
}

.attribute .name {
  cursor: pointer;
}

.attribute-titles .attribute .sort-icon {
  display: none;
  margin-left: 2px;
  cursor: pointer;
}
.attribute-titles .attribute:hover .sort-icon,
.attribute-titles .attribute.sort .sort-icon {
  display: flex;
}
.attribute-titles .attribute .sort-icon svg {
  width: 16px;
  height: 16px;
  transition: transform .2s;
}
.attribute-titles .attribute.ascending .sort-icon {}
.attribute-titles .attribute.descending .sort-icon svg {
  transform: rotate(180deg);
}

.cell {
  overflow: hidden;
  height: 50px;
  padding: 0 4px 0 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 13px;
}

.cell.video-position,
.cell.video-id,
.cell.video-add-date,
.cell.video-upload-date {
  display: flex;
  align-items: center;
}
.cell.video-title,
.cell.video-description {
  overflow-y: auto;
}
.cell.video-thumbnail {
  height: 100%;
  padding: 2px;
  margin: 0;
}

.cell.video-position .value {
  font-size: 18px;
}
.cell.video-description .value {
  width: 100%;
  word-break: break-word;
}
.cell.video-thumbnail .value {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cell.video-id .value {
  font-size: 14px;
}
.cell.video-id .value:hover {
  color: #00671a;
}

.cell .value {
  width: 100%;
}

.vide-thumbnail {
  width: 100px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}